
<div class="about-main">
  <h2 id="tohubu">塗布部とは</h2>
  <pp class="explanation">
    筋トレ記録、体力測定サービスです。
    筋トレのログを投稿、記録し、他のユーザーと楽しくコミュニケーションできます。
    つまり
  </pp>
  <ppp class="explanation">
    にーおーうー！
  </ppp>
  <img class="about-img" src="/tweets.png">
  <canvas id="stage"></canvas>
</div>
